#div1 {
    width: 1200px; height: 1200px;
    border: 1px solid;
    background-size: 1200px 1200px; /*가로 , 세로 */
    background-repeat: no-repeat; 
    background-position: 300px 200px; /*위 , 왼 */
    background-image: url("test용.jpg");

    /*
    background: url("이미지") no-repeat 200px 200px / 100px 100px;
    */

}

#div1:hover {
    background-image: url("Image20251218104846.jpg");
    color: red;
}

#div1 div { width: 50px; height: 50px; }