#b {
    width: 100px; height: 100px;
    position: relative; z-index: 2; background-color: lightgray;
    top: 20; left: 20;
}

a {
    position: relative; z-index: 1; 
    top: 10; left: 10;
    &:hover ~ #login {
        display: block;
    }
}

#modal {
    position: absolute; background-color: rgba(0, 0, 0, 0.1);
    top: 0; left: 0; z-index: 0;
}



#login {
    display: none;
    margin: 200px auto;
    width: 360px; height: 230px;
    box-shadow: 0 0 8px lightgray;
    border-radius: 10px;
}

.title {
   /* background-color: bisque; */
    text-align: center;
    letter-spacing: 5px;
    font-size: 25px;
    border-bottom: 3px dotted olive;
    width: 220px;
    margin: auto;
    padding: 10px 0;
    color: darkcyan;
}
#login > form {
    /* background-color: darkgray; */
    width: 270px;
    margin: auto;
}
#login > form > input {
    color: gray; font-size: 20px;
    margin-top: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid lightgray;
    letter-spacing: 3px; width: 100%;
    &:focus { border-bottom: 2px solid hotpink; }
}

#login > form > button {
    margin-top: 20px;
    width: 100%; height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: gray;
    &:hover {
        background-color: lightgrey;
        box-shadow: 0 0 2px black;
    }
}