#div1 {
    overflow: hidden;
    width: 150px; height: 150px;
    border-radius: 100%;
    transition: 3s;
    &:hover > img {
        width: 150px; height: 150px;
        transform: scale(4) rotate(360deg);
        transition: 3s;
    }
}

img {
    width: 150px; height: 150px;
}

#div2 {
    width: 150px; height: 150px;
    margin-top: -100px;
    margin-left: 0;
    font-size: 30px;
    text-align: center;
    transition: 3s;
    color: white;
}
   
#div1:hover ~ #div2 {
        margin-top: 0;
        transition: 0.5s;
        color: darkblue;
} 
