#quiz2 { background-color: bisque; width: 400px; margin: 0 auto;}

#header { background-color: aqua; }

#main { background-color: blueviolet; height: 100px; display: flex;}

#footer { background-color: brown; }

#list { background-color: burlywood; width: 20%;}
#section { background-color: cadetblue; width: 60%;}
#section > div { width: 70%; margin: auto; 
    & div { 
        border: 2px solid; margin-top: 5px; background-color: yellow; 
    } 
} 

#side { background-color: burlywood; width: 20%;}

#quiz { background-color: bisque; width: 400px; margin: 0 auto;}

#quiz > :nth-of-type(1) { background-color: chartreuse; }
#quiz > :nth-of-type(2) { 
    display: flex;
    height: 100px; background-color: blueviolet;
    & > :nth-of-type(1) {background-color: yellow; width: 100px;} 
    & > :nth-of-type(2) {background-color: green; width: 300px;} 
}
#quiz > :nth-of-type(3) { background-color: pink; }





