* { margin: 0px; padding: 0px;}

#header { 
    width: 700px;
    height: 140px; 
    background-color: brown;
    display: flex;
}

#title_logo { 
    width: 100px; 
    background-image: url("test용.jpg") ;
    background-size: 100px 100px;
    border-radius: 100%;
}

#nav {
    background-color: brown;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

#nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#nav ul li { margin: 0 10px; }
#nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    &:hover{
        color: orange;
        border-bottom: 2px solid orange;
        padding-bottom: 5px;
        transition: 0.25s;
    }
}
#nav ul:nth-child(2) a {
    font-size: 10px;
    color: gray;
}