#nav {
    width: 400px;
    background-color: cadetblue
}

#menu {
    display: flex;
}

#menu li:hover .menu1 {
    display: block;
    height: 120px;
    border: 1px solid;
}


.menu1 {
    border-radius: 15px;
    border: 1px solid;
    display: none;
}

ul {
    margin: 0; padding: 0;
}

li {
    list-style: none;
    width: 100px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

