#quiz { width: 1200px; border: 1px solid; }

#quiz span {
    display: block;
    border: 5px solid gray;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    font-size: 30px;
    opacity: 0.3;
    &:hover {
        background-color: greenyellow;
        color: white;
        opacity: 1.0;
        transition: 0.25s;
    }
}

#quiz div { 
    width: 216px; height: 216px;
    background-image: url("testìš©.jpg"); 
    background-size: cover;
    display: inline-block;
    margin-right: 30px;
    &:nth-last-of-type(1) {
        margin-right: 0px;
    }
}

