#wrap {width: 100px; height: 100px;}

#logo > img {
    width: 100px; height: 100px;
    border-radius: 100px;
    &:hover {
        transform: scale(1.1);
        transition: all 0.1s;
    }
}

.item { 
    width: 100px; height: 200px; border: 2px solid gray; overflow: hidden;
    border-radius: 5px;
}

.item img {
    width: 100px; height: 100px; overflow: auto;
    &:hover{
        transform: scale(1.1);
        transition: all 0.1s;
    }
}

.item div:nth-of-type(2) {
    height: 70px;
}

.item div:nth-of-type(2) > a {
    color: black;
    text-decoration: none;
    &:hover{
        color: red;
    }
}

.item div:nth-of-type(3) {
    color: blue;
    text-align: right;
}

#wrap > button {
    border: 1px;
    border-radius: 10px;
    background-color: gray;
    color: white;
    &:hover {
        background-color: green;
    }
}