#div1 {
    width: 100px; height: 100px;
    border-radius: 100px;
    overflow: hidden;
}

#div1:hover {

    & img {transform: scale(4) rotate(360deg); transition: 0.5s;}
    & ~ #div2 { margin-top: 0px; color: darkblue; transition: 0.5s; }
}

img {
    width: 100px; height: 100px;
    transition: 3s;
}

#div2 {
    color: white;
    width: 100px; 
    text-align: center;
    margin-top: -60px;
    transition: 3s;
}

